


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary shadow fixed-top">
  <div class="container-fluid red">
    <div class="float-left">
      <span class="navbar-brand"><b class="color">
          <span style="font-size:35px;cursor:pointer;color: white;" class="fixed" style="color: black; cursor: pointer;" 
          (click)="sideNav()" >{{side?"&#10005;":"&#9776;"}} </span></b></span>


    </div>

    <a class="navbar-brand" href="">My Ca</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

