<!-- <nav class="navbar navbar-fixed-top navbar-default"> -->
  <nav class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand"><b class="color">
        <span style="font-size:35px;cursor:pointer" class="fixed"
        (click)="openNav()">{{sideNavOpen?'&#9783;':'&#9776;'}} </span></b></span>
        
      
    </div>
    <ul class="nav navbar-nav"> 
      
    
    </ul>
<div class="navbar-brand">
      
    <b class='color'><i>CHARTED ACCOUNTS(CA)</i></b>
  
    </div>
  <ul class="nav navbar-nav navbar-right">
     
    <li><a style="color: white;"><span class="glyphicon glyphicon-user"></span>  {{username}}</a></li>
     <!-- <li><a  style="color: white;cursor: pointer;"><span class="glyphicon glyphicon-user"></span> {{username}}</a></li> -->
  
   </ul>
 </div></nav>