<!-- <div id="mySidenav" class="sidenav">




    <span style="color:rgb(255, 255, 255);font-size:40px ;cursor:pointer;margin-left: 200px;" class="fixed" (click)="closeNav()">&times; </span>
  
    
      <a href="https://www.fb.com" style="color: white"> <span class="glyphicon glyphicon-user"></span> About WFD</a>
      <a href="#"  style="color: white"><span class="glyphicon glyphicon-globe"></span> Services</a>
      <a href="#"  style="color: white"><span class="	glyphicon glyphicon-thumbs-up"></span> Clients</a>
      <a href="#"  style="color: white"><span class="glyphicon glyphicon-phone-alt"></span> Contact</a>
      <a href="#"  style="color: white"><span class="glyphicon glyphicon-phone-alt"></span> Contact</a>
      <a href="#"  style="color: white"><span class="glyphicon glyphicon-phone-alt"></span> Contact</a>
      <a href="#"  style="color: white"><span class="glyphicon glyphicon-phone-alt"></span> Contact</a>
      <a href="#"  style="color: white"><span class="glyphicon glyphicon-phone-alt"></span> Contact</a>
      <a href="#"  style="color: white"><span class="glyphicon glyphicon-phone-alt"></span> Contact</a>
  
     </div> -->
     <!-- <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
      </div>
      
      <h2>Animated Sidenav Example</h2>
      <p>Click on the element below to open the side navigation menu.</p>
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
       -->


       <!-- <div id="sidenav" class="sidenav">




        <span style="color:rgb(255, 255, 255);font-size:40px ;cursor:pointer;margin-left: 200px;" class="fixed" (click)="closeNav()">&times; </span>
      
        <nav>
          <ul class='nav'>
            
            
      
      
            <li expandMenu>
                <a>
                  
                  <span>Admin<span class="caret"></span></span>
                </a>
              </li>
              <ul class='nav submenu'>
             <li>
                  <a routerLink='sideNavRole'>
                    Role
                  </a>
                  </li>
                  <li>
                    <a routerLink='sideNavLeaveStatus'>
                      LeaveStatus
                    </a>
                    </li>
                    <li>
                    <a routerLink='emphis'>
                      EmpHistory
                    </a>
                    </li>
                    <li>
                      <a routerLink='sideNavAcademics'>
                        Academics
                      </a>
                      </li>
                  <li>
                    <a routerLink='sideNavClient'>
                      Client
                    </a>
                    </li>
                  <li>
                    <a routerLink="leaveType">
                      <span>Leave Type</span>
                    </a>
                  </li>
              </ul>
            
              <li expandMenu>
                  <a>
                    
                    <span>HR<span class="caret"></span></span>
                  </a>
                </li>
                <ul class='nav submenu'>
               <li>
                    <a>
                      <span>Employee</span>
                    </a>
                    </li>
                    
                </ul> -->

                <div id="mySidenav" class="sidenav bg-info">
                  <!-- <span style="font-size:35px;cursor:pointer;color: white;float: right;" class="fixed"
                  (click)="openNav()">&#10006; </span>
                  <br><br> -->
                  <nav>
                    <ul class='nav'>
                      
                      <li expandMenu>
                        
        
                        <a>
                          
                          <span>CA <i class="fa fa-chevron-down" aria-hidden="true"></i><span></span></span>
                        </a>
                      </li>
                      <ul class='nav submenu'>
                        <li>
                          <!-- <a routerLink='sideNavRole' routerLinkActive='active'> -->
                           <a> home
                          </a>
                        </li>
                        <li>
                          <!-- <a routerLink='sideNavLeaveStatus' routerLinkActive='active'> -->
                          <a>  contacts
                          </a>
                        </li>
                        <li>
                          <!-- <a routerLink='emphis' routerLinkActive='active'> -->
                          <a>  role
                          </a>
                        </li>
                        <li>
                          <!-- <a routerLink='sideNavAcademics' routerLinkActive='active'> -->
                          <a>  client
                          </a>
                        </li>
                        
                        <li>
                          <!-- <a routerLink="leaveType" routerLinkActive='active'> -->
                           <a> <span>T&C </span>
                          </a>
                        </li>
                      </ul>
                
                      <li expandMenu>
                        <a>
                
                          <span>services <i class="fa fa-chevron-down" aria-hidden="true"></i><span></span></span>
                        </a>
                      </li>
                      <ul class='nav submenu' routerLinkActive='active'>
                        <li>
                          <a>
                            <span>coustomer care</span>
                          </a>
                        </li>
                
                      </ul>
                
                
                
                      <li expandMenu>
                        <a>
                          <span>Admin <i class="fa fa-chevron-down" aria-hidden="true"></i><span></span></span>
                        </a>
                      </li>
                      <ul class='nav submenu'>
                        <li>
                          <!-- <a routerLink="my_Profile" routerLinkActive='active'> -->
                          <a>  <span>details</span>
                          </a>
                        </li>
                
                      </ul>
                
                
                    </ul>
                
                  </nav>
                
                
                </div>